<div class="sign-in">
    <div class="sign-in-header">
        <span class="sign-in-title">Sign in</span>
    </div>
    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => 'form-horizontal sign-in-form'}) do |f| %>
      <% if flash[:alert] -%>
        <div class="alert alert-error"><%= flash[:alert] %></div>
      <% end -%>
      <div class="control-group">
        <%= f.label :id, :class => 'control-label' %>
        <div class="controls">
            <%= f.email_field :email, :autofocus => true %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :password, :class => 'control-label' %>
        <div class="controls">
          <%= f.password_field :password %>
        </div>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="control-group">
            <div class="controls">
                <%= f.check_box :remember_me, :class => 'remember-me'%>
                <%= f.label :remember_me, :class => 'remember-me' %>
            </div>
        </div>
      <% end -%>

      <div class="form-actions">
          <%= f.submit 'Sign in', :class => 'btn btn-medium btn-primary' %>
      </div>
    <% end %>
</div>